<?xml version="1.0" encoding="utf-8" ?>
<connectionStrings>
	<add name="WorkoutApplicationEntities" connectionString="metadata=res://*/WorkoutModel.csdl|res://*/WorkoutModel.ssdl|res://*/WorkoutModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=WorkoutApplication;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
</connectionStrings>